*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e1b4b,
        #312e81
    );
}

.container{
    width:900px;
    height:500px;
    display:flex;
    overflow:hidden;
    border-radius:25px;
    background:#111827;
    box-shadow:0 20px 40px rgba(0,0,0,.4);
}

.left-side{
    width:45%;
    background:linear-gradient(
        135deg,
        #8b5cf6,
        #d946ef
    );

    color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:40px;
    text-align:center;
}

.left-side h1{
    font-size:42px;
    margin-bottom:20px;
}

.left-side p{
    font-size:18px;
    line-height:1.8;
}

.right-side{
    width:55%;
    padding:50px;

    display:flex;
    flex-direction:column;
    justify-content:center;
}

.title{
    color:#a78bfa;
    text-align:center;
    margin-bottom:20px;
}

.input-box{
    width:100%;
    padding:14px;
    margin:10px 0;
    border:2px solid #374151;
    border-radius:12px;
    background:#1f2937;
    color:white;
    font-size:16px;
}

.input-box:focus{
    outline:none;
    border-color:#a78bfa;
}

.btn{
    width:100%;
    padding:14px;
    margin-top:10px;
    border:none;
    border-radius:12px;
    background:linear-gradient(
        45deg,
        #8b5cf6,
        #d946ef
    );
    color:white;
    font-size:16px;
    cursor:pointer;
}

.btn:hover{
    transform:translateY(-2px);
}

.result{
    margin-top:15px;
    text-align:center;
    color:white;
}

#timer{
    margin-top:10px;
    text-align:center;
    color:#a78bfa;
    font-weight:bold;
}

a{
    color:#a78bfa;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}